body {
    background-color: rgb(32, 33, 35);
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6; /* Sets line height for readability */
    margin: 0 auto; /* Centers the body on the page */
    padding: 20px; /* Adds padding around the content */
    
}

.navbar-brand {
    padding-left: 12px;
}

#newPostBox {
    background-color: rgb(33,37,41);
}

.text-break, #steps, h1, #contact-us, #faqs {
    color: aliceblue;
}

#footer {
    position: fixed;
    bottom:0px;
}

.text-wrap {
    color: aliceblue;
}

#footer {
    background-color: rgba(15, 15, 16, 0.458);
}

.footer-title {
    font-weight: bold;
}

.Posts{
    border: 2px solid #333;
    border-radius: 5px;
    margin-top: 20px;
    background-color: rgb(212, 212, 212);
    padding-left: 10px;
    padding-bottom: 10px;
}

.txtarea{
    width: 50%;
    height: 80px;
    margin-bottom: 5px;
    resize: none;
}

@media (max-width: 768px) {
    .txtarea {
        width: 90%; /* Slightly wider on smaller screens */
    }
}


@media (max-width: 480px) {
    .txtarea {
        width: 90%; /* Full width on smaller screens */
        height: 60px;
    }
}

h1 {
    font-size: 50px; /* Larger font size for the main heading */
    text-align: center; /* Centers the main heading */
    margin-bottom: 20px; /* Adds space below the heading */
}

h2 {
    margin-top: 20px; /* Adds space above each h2 heading */
    font-size: 24px; /* Sets font size for h2 headings */
    font-weight: bold; /* Makes h2 headings bold */
}

p {
    margin-bottom: 10px; /* Adds space below each paragraph */
}

/* Styles for images */
img {
    max-width: 100%; /* Ensures images fit within their container */
    height: auto; /* Maintains aspect ratio */
    display: block; /* Displays images as block elements */
    margin: 20px auto; /* Centers images and adds space around them */
}

/* Positioning Contact Us and FAQs sections at the top */
#contact-us, #faqs {
    position: absolute; /* Positions the sections absolutely */
    top: 20px; /* Distance from the top of the page */
    display: inline-block; /* Ensures the sections are inline */
}

/* Adjusting position of FAQs section */
#faqs {
    left: 150px; /* Adjusts the left position to provide space from Contact Us */
}

/* Styles for Contact Us and FAQs h6 headings */
#contact-us h6, #faqs h6 {
    font-size: 20px; /* Sets font size for h6 headings */
    font-weight: bold; /* Makes h6 headings bold */
    text-decoration: underline; /* Underlines the text */
}

.gradient-custom-2 {
/* fallback for old browsers */
/* this does not seem to actually be a fallback, it sets background even on my main Chrome instance */
background: rgb(32, 33, 35);
}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
font-size: 1rem;
line-height: 2.15;
padding-left: .75em;
padding-right: .75em;
}

.card-registration .select-arrow {
top: 13px;
}