body {
    background-color: rgb(32, 33, 35);
}

.navbar-brand {
    padding-left: 12px;
}

#newPostBox {
    background-color: rgb(33,37,41);
}

.text-break {
    color: aliceblue;
}

#footer {
    position: fixed;
    bottom:0px;
}

.text-wrap {
    color: aliceblue;
}

#footer {
    background-color: rgba(15, 15, 16, 0.458);;
}

.footer-title {
    font-weight: bold;
}