{% extends "base.html" %}
{% block title %} {{ title }} {% endblock %}
{% block content %}
    <!-- Steps section -->
    <div class="container mt-5 mb-5" id="steps">
        <!-- Step 1 -->
        <div class="step">
            <h2>Step 1: Sign Up or Sign In</h2>
            <p>Welcome to LFG! Follow the steps below to get started:</p>
            <ul style="list-style-type: none; padding-left: 0;">
                <li>If you're new to LFG, <a href="/signUp" class="btn btn-primary btn-sm" style="background-color: black; color: white;">Sign Up</a> and create an account.</li>
                <li>If you already have an account, <a href="/logIn" class="btn btn-secondary btn-sm" style="background-color: black; color: white;">Sign In</a> to access your LFG profile.</li>
            </ul>
            <!-- Adding the image for Step 1 -->
            <div class="step-image">
                <img src="static/images/SignUp.PNG" alt="Signup">
            </div>
        </div>
    </div>
{% endblock %}
