{% extends "base.html" %}
{% block title %} {{ title }} {% endblock %}
{% block content %}
    <!-- Steps section -->
    <div  class="container mt-5 mb-5" id="steps">
        <!-- Step 1 -->
        <h2>Step 1</h2>
        <p>Sign up and create an account or sign in to your LFG account.</p>
        <p>(Image would go in here where they can sign up or sign in.)</p>

        <!-- Step 2 -->
        <h2>Step 2</h2>
        <p>Choose a game where you want to join or create a group.</p>
        <p>(Image of where users can join or create groups.)</p>

        <!-- Step 3 -->
        <h2>Step 3</h2>
        <p>Enter the requirements or skills you have to create or join a group.</p>

        <!-- Step 4 -->
        <h2>Step 4</h2>
        <p>Have fun!</p>
    </div>
{% endblock %}